.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
button:active {
  background-color: white;
  outline: white 1px solid;
}

.boardsTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .boardsTable {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  .boardsTable {
    width: 100%;
  }
}
